p {
  color: #848789; }

body {
  font-family: Lato-Regular,  sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.25;
  min-width: 320px;
  overflow-x: hidden; }

header {
  height: 800px;
  z-index: 888; }

/*animated-button*/
.menu_button {
  z-index: 3;
  position: fixed;
  top: 10px;
  left: 15px;
  display: inline-block;
  cursor: pointer; }
  .menu_button:hover {
    opacity: 0.6; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #64c29e;
  margin: 6px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-8px, 8px);
      transform: rotate(-45deg) translate(-8px, 8px);
  background-color: #4d4959; }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
  background-color: #4d4959; }

/*menu*/
.mobile_menu {
  z-index: 2;
  display: block;
  background-color: transparent; }

.navigate {
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%; }
  .navigate ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
    .navigate ul li a {
      font-family: Lato-Bold;
      font-size: 13px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: #4d4959; }

/*******************************************************************/
/*********************ABOUT**************************/
#about {
  height: 470px;
  background-color: #f7f7f7;
  padding-top: 110px; }

.content-block {
  margin: 0 auto;
  text-align: center;
  padding-top: 85px;
  background: url("../img/about.png") no-repeat 50% 5%; }
  .content-block h3 {
    font-family: Lato-Bold;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    padding: 0; }
  .content-block p {
    margin: 0;
    padding: 0;
    line-height: 25px; }

/***********************WORK*************************/
#work {
  z-index: 0;
  /*company*/
  /* la */
  /* retro */ }
  #work #company_work {
    height: 600px;
    background: url("../img/work/logo-company.png") no-repeat center; }
  #work #vintage_work {
    height: 600px; }
    #work #vintage_work #vintage_olive_work {
      height: 200px;
      width: 100%;
      background: url("../img/work/vintage.jpg") no-repeat center;
      background-size: cover; }
  #work #la_work {
    height: 600px; }
    #work #la_work #la_boriosa_work {
      height: 200px;
      width: 100%;
      background: url("../img/work/la.jpg") no-repeat center;
      background-size: cover; }
  #work #la_parallax_work {
    height: 600px;
    background: url("../img/work/la-logo.png") no-repeat center; }
  #work #retro1_parallax_work {
    height: 600px;
    background: url("../img/work/retro-logo.png") no-repeat center; }
  #work #retro_work {
    height: 600px; }
    #work #retro_work #retro_bottom_work {
      height: 200px;
      width: 100%;
      background: url("../img/work/retro-bottom.jpg") no-repeat center;
      background-size: cover; }
  #work #retro2_parallax_work {
    height: 600px; }

.work-block {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 130px 0 0 0;
  text-align: center;
  background: url(../img/work/line.png) no-repeat 50% 85%; }
  .work-block img {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .work-block h3 {
    text-transform: uppercase;
    font-family: Lato-Bold;
    margin: 0 0 20px 0; }
  .work-block p {
    margin: 0;
    line-height: 20px; }

/*******************CAROUSEL****************************/
#carousel {
  height: 470px;
  background-color: #f7f7f7;
  cursor: default; }
  #carousel #owl-first .item {
    text-align: center;
    height: 240px;
    background: url("../img/twitter.png") no-repeat 50% 10%;
    padding: 80px 0 0 0; }
    #carousel #owl-first .item h3 {
      font-family: Lato-Bold;
      font-size: 18px;
      margin: 0 0 20px 0;
      letter-spacing: 2px; }
      #carousel #owl-first .item h3 span {
        font-family: Lato-Light;
        color: #848789; }
    #carousel #owl-first .item p {
      font-family: Lato-Italic;
      font-size: 24px; }

/*owl-standart*/
.owl-theme .owl-nav {
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  display: inline-block;
  cursor: pointer; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

/*_________________________________________________DOTS*/
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  position: absolute;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

#owl-first .owl-dots {
  position: absolute;
  top: 380px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

#owl-first .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  border: solid #a9afb3 1px;
  margin: 5px;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

#owl-first .owl-dots .owl-dot.active span, #owl-first .owl-dots .owl-dot:hover span {
  background: #a9afb3; }

/**********************SHOP***************************/
#shop #first-block {
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  #shop #first-block #first-shop {
    background: url("../img/shop/first.jpg") no-repeat center;
    height: 270px;
    background-size: cover; }
  #shop #first-block #second-shop {
    background: url("../img/shop/second.jpg") no-repeat center;
    height: 270px;
    background-size: cover; }
  #shop #first-block #third-shop {
    background: url("../img/shop/third.jpg") no-repeat center;
    height: 270px;
    background-size: cover; }

#shop #second-block {
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  #shop #second-block #fourth-shop {
    background: url("../img/shop/fourth.jpg") no-repeat center;
    background-size: cover;
    height: 540px; }
  #shop #second-block #fifth-shop {
    background: url("../img/shop/fifth.jpg") no-repeat center;
    background-size: cover;
    height: 540px; }

#shop #third-block {
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  #shop #third-block #sixth-shop {
    background: url("../img/shop/sixth.jpg") no-repeat center;
    height: 270px;
    background-size: cover;
    position: relative; }
    #shop #third-block #sixth-shop a {
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/shop/icon.png") no-repeat center #64c29e;
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0.8; }
  #shop #third-block #seventh-shop {
    background: url("../img/shop/seventh.jpg") no-repeat center;
    height: 270px;
    background-size: cover; }
  #shop #third-block #eighth-shop {
    background: url("../img/shop/eighth.jpg") no-repeat center;
    height: 270px;
    background-size: cover; }

/***********************DISCOVER**************************/
#discover {
  background-color: #282f35;
  height: 200px;
  padding-top: 75px; }
  #discover a {
    text-align: center;
    display: block;
    color: white;
    text-transform: uppercase;
    height: 50px;
    margin: 0 auto;
    padding-top: 17px;
    border: solid white 1px;
    font-family: Lato-Bold;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: 1s;
    transition: 1s; }
    #discover a:hover {
      background-color: #64c29e;
      color: #282f35;
      border-color: #282f35; }

/***************************CONTACT**************************/
#contact {
  height: 470px;
  background: url("../img/logo.png") no-repeat 50% 30%;
  text-align: center;
  padding-top: 230px; }
  #contact #block-contact {
    margin: 0 auto;
    position: relative;
    -webkit-transition: 1s;
    transition: 1s; }
    #contact #block-contact p {
      font-family: Lato-Italic; }
    #contact #block-contact input:nth-child(1) {
      position: absolute;
      height: 70px;
      border: solid #d3d7d9 1px;
      padding-left: 20px;
      color: #cdcdcd;
      font-family: Lato-Italic; }
      #contact #block-contact input:nth-child(1):focus {
        outline: none; }
    #contact #block-contact input:nth-child(2) {
      position: absolute;
      height: 70px;
      color: white;
      background-color: #64c29e;
      border: none;
      font-family: Lato-Light; }
      #contact #block-contact input:nth-child(2):focus {
        outline: none; }

/**********************FOOTER***********************/
footer {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f7f7f7; }
  footer #contact_footer span {
    font-size: 16px;
    font-family: Lato-Bold; }
  footer #contact_footer p {
    font-size: 14px;
    font-family: Lato-Italic; }
  footer #soc_networks {
    padding-top: 15px;
    text-align: center; }
    footer #soc_networks a {
      margin-right: 5px; }
  footer #yebo_footer {
    padding-top: 15px; }
    footer #yebo_footer a {
      display: block; }

/**************MEDIA**********************/
/* screen befor 480px*/
/*col-xs*/
/*HEADER*/
.navigate {
  position: fixed; }
  .navigate ul {
    background-color: #64c29e;
    width: 100%;
    height: 100%;
    padding: 40% 0 70% 0;
    opacity: 0.9; }
    .navigate ul li a {
      padding: 13px 16px; }
      .navigate ul li a:hover {
        color: white; }

/*ABOUT*/
#about .content-block {
  height: 55%;
  width: 90%; }
  #about .content-block h3, #about .content-block p {
    font-size: 13px; }

/*WORK*/
.work-block {
  width: 90%; }
  .work-block h3 {
    font-size: 13px; }
  .work-block p {
    font-size: 13px; }

/*CAROUSEL*/
#carousel #owl-first .item {
  margin: 90px 30px 0 30px; }
  #carousel #owl-first .item h3 {
    font-size: 13px; }
  #carousel #owl-first .item p {
    font-size: 15px; }

/*DISCOVER*/
#discover a {
  width: 260px; }

/*CONTACT*/
#contact #block-contact {
  width: 260px; }
  #contact #block-contact p {
    font-size: 17px; }
  #contact #block-contact input:nth-child(1) {
    width: 240px;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 16px; }
  #contact #block-contact input:nth-child(2) {
    font-size: 17px;
    top: 145px;
    width: 240px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

/*FOOTER*/
footer {
  padding: 50px 	0; }
  footer #contact_footer {
    text-align: center;
    margin-bottom: 30px; }
  footer #yebo_footer {
    margin-top: 30px; }
    footer #yebo_footer a {
      width: 170px;
      margin: 0 auto;
      float: none; }

/*____________________________________________480*/
@media screen and (min-width: 480px) {
  /*ABOUT*/
  #about .content-block h3, #about .content-block p {
    font-size: 14px; }
  /*WORK*/
  .work-block {
    width: 400px; }
    .work-block h3 {
      font-size: 14px; }
    .work-block p {
      font-size: 13px; }
  /*CAROUSEL*/
  #carousel #owl-first .item h3 {
    font-size: 14px; }
  #carousel #owl-first .item p {
    font-size: 17px; } }

/*col-sm*/
/*____________________________________________768*/
@media screen and (min-width: 768px) {
  /*HEADER*/
  .menu_button {
    display: none; }
  .mobile_menu {
    display: none; }
  .navigate {
    position: relative;
    display: block;
    height: 150px; }
    .navigate ul {
      margin: 0 auto;
      position: relative;
      padding: 55px 0 0 0;
      width: 700px;
      background: url("../img/logo.png") no-repeat 50% 30% transparent; }
      .navigate ul li a {
        -webkit-transition: color ease 0.2s;
        transition: color ease 0.2s;
        float: left;
        display: inline;
        padding: 13px 0;
        width: 120px; }
        .navigate ul li a:hover {
          color: #64c29e; }
      .navigate ul li:nth-child(3) a {
        margin-left: 220px; }
  /*ABOUT*/
  #about .content-block h3, #about .content-block p {
    font-size: 15px; }
  /*WORK*/
  .work-block h3 {
    font-size: 15px; }
  .work-block p {
    font-size: 13px; }
  /*CAROUSEL*/
  #carousel #owl-first .item {
    margin: 90px 70px 0 70px; }
    #carousel #owl-first .item h3 {
      font-size: 15px; }
    #carousel #owl-first .item p {
      font-size: 19px; }
  /*DISCOVER*/
  #discover a {
    width: 300px; }
  /*CONTACT*/
  #contact #block-contact {
    width: 540px; }
    #contact #block-contact p {
      font-size: 24px; }
    #contact #block-contact input:nth-child(1) {
      width: 400px;
      top: 70px;
      left: 0;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      font-size: 20px; }
    #contact #block-contact input:nth-child(2) {
      font-size: 24px;
      top: 70px;
      width: 125px;
      left: 408px;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
  /*FOOTER*/
  footer {
    height: 250px;
    padding: 95px 0 0 0; }
    footer #contact_footer {
      text-align: left;
      margin-bottom: 0; }
    footer #yebo_footer {
      margin-top: 0; }
      footer #yebo_footer a {
        margin: 0;
        float: right; } }

/*col-md*/
/*____________________________________________992*/
@media screen and (min-width: 992px) {
  /*FOOTER*/
  footer {
    padding: 95px 60px; } }

/*col-lg*/
/*____________________________________________1200*/
@media screen and (min-width: 1200px) {
  /*ABOUT*/
  #about .content-block {
    height: 230px;
    width: 1100px; }
    #about .content-block h3, #about .content-block p {
      font-size: 18px; }
  /*WORK*/
  .work-block h3 {
    font-size: 18px; }
  .work-block p {
    font-size: 16px; }
  /*CAROUSEL*/
  #carousel #owl-first .item {
    margin: 90px 150px 0 150px; }
    #carousel #owl-first .item h3 {
      font-size: 18px; }
    #carousel #owl-first .item p {
      font-size: 24px; }
  /*FOOTER*/
  footer {
    padding: 95px 130px; } }

/*____________________________________________1600*/
@media screen and (min-width: 1600px) {
  #carousel #owl-first .item {
    margin: 90px 250px 0 250px; }
  /*FOOTER*/
  footer {
    padding: 95px 240px; } }

/*____________________________________________1920*/
@media screen and (min-width: 1920px) {
  /*1920*/ }
